内部开发文件/
__pycache__/
__pycache__
*.gitignore
*.md
*.txt
*.log
*.csv
*.json
*.xml
*.yaml
*.yml
*.ini
*.cfg
*.conf
*.properties
*.env
*.env.example
*.env.test
*.env.dev
*.env.prod
*.env.staging
*.env.uat
*.env.qa
*.env.dev.local
*.env.prod.local
*.env.test.local
*.env.uat.local
*.env.qa.local
*.env.staging.local
*.env.dev.docker
*.env.prod.docker
*.env.test.docker
*.env.uat.docker
*.env.qa.docker
*.env.staging.docker
*.env.dev.vagrant
*.env.prod.vagrant
*.env.test.vagrant
*.env.uat.vagrant
*.env.qa.vagrant
*.env.staging.vagrant
*.env.dev.aws
*.env.prod.aws
*.env.test.aws
*.env.uat.aws
*.env.qa.aws
*.env.staging.aws
*.env.dev.gcloud
*.env.prod.gcloud
*.env.test.gcloud
*.env.uat.gcloud
*.env.qa.gcloud
log/
log/APP/
log/APP/2025021417180.log